/* MainBanner.css */
.main-banner {
  background: url("../../assets/bag1.png") no-repeat center/cover;
  height: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 150px 0px 30px;
  color: white;
  margin: 0px 0px 0px 30px;
  border-radius: 30px;
}

.main-banner h2 {
  margin: 0;
  font-size: 2em;
}

.main-banner h3 {
  margin: 10px 0;
  font-size: 1.5em;
}

.main-banner p {
  font-size: 1em;
}

.main-banner button {
  margin-top: 20px;
  width: 200px;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
}

.banner-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  align-items: center;
}

.secondary-banner {
  background-color: #008b8b94; /* or any other color, placeholder for now */
  height: 400px; /* same height as main-banner */
  width: 25%; /* 1/3 of the main-banner's width (which is 45%) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px 0px 30px;
  border-radius: 30px;
  margin: 0px 30px 0px 0px;
  color: white;
}

.deals-section {
  padding: 40px 40px;
}

.deals-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.deal-item {
  width: 17%;
  box-shadow: 0px 0px 51px rgba(0, 0, 0, 0.162);
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

.deal-item img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.item-name {
  font-size: 1em;
  margin: 10px 0;
}

.item-price {
  font-size: 1.1em;
  font-weight: 600;
  margin: 10px 0;
}

.deals-section h3 {
  font-size: 2em;
  margin-bottom: 30px;
}

/* BrandsSection.css */
.brands-section {
  background-color: #f8f8f8;
  padding: 50px 5%;
}

.brands-section h3 {
  font-size: 2em;
  margin-bottom: 30px;
}

/* General Responsive Styles */

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .main-banner {
    width: 90%;
    padding: 20px 30px;
    margin: 20px auto;
  }

  .banner-container {
    flex-direction: column;
    align-items: center;
  }

  .secondary-banner {
    width: 70%;
    margin: 10px 0;
  }

  .deals-section {
    padding: 30px 10px;
  }

  .deal-item {
    width: 45%;
  }

  .brands-section {
    padding: 40px 5%;
  }
}

/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (max-width: 992px) {
  .main-banner {
    width: 70%;
    margin: 20px auto;
  }

  .deal-item {
    width: 30%;
  }
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 576px) {
  .main-banner {
    width: 85%;
    padding: 15px 15px;
  }

  .deal-item {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
  }
}
